.overview-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;

  p:first-child {
    padding-left: .5rem;
  }
}

.paintings-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.painting-item {
  display: flex;
  height: 9rem;
  padding: 0.5rem;
  gap: .5rem;
  align-items: center;
  border-radius: var(--radius);
  border: 2px solid var(--border-color);
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

img {
  height: 7.5rem;
  object-fit: cover;
}

.painting-item:hover {
  border-color: var(--primary-color);
}

.add-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  font-size: 4rem;
  border-radius: var(--radius);
  border: 2px solid var(--border-color);
  color: var(--border-color);
  text-decoration: none;
}

.add-box:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

@media (max-width: 900px) {
  .paintings-grid {
    grid-template-columns: 1fr;
  }
}