.overview-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  p:first-child {
    padding-left: .5rem;
  }
}

.paintings-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.painting-item {
  display: flex;
  padding: 0.5rem;
  gap: .5rem;
  justify-content: space-between;
  border-radius: var(--radius);
  border: 2px solid var(--border-color);
}

.img-data-box {
  display: flex;
  gap: 1rem;
  align-items: center;
}

img {
  height: 7.5rem;
  object-fit: cover;
}

.painting-buttons-box {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}

.painting-item:hover .painting-buttons-box {
  display: flex;
}

.painting-item:hover {
  border-color: var(--primary-color);
}

.add-box {
  height: 8.7rem;
  font-size: 4rem;
  border-radius: var(--radius);
  border: 2px solid var(--border-color);
  color: var(--border-color);
}

.add-box:hover {
  border-color: var(--dark-theme);
  color: var(--dark-theme);
}

@media (max-width: 850px) {
  .paintings-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .painting-item {
    flex-direction: column;
  }

  .painting-buttons-box {
    flex-direction: row;
    justify-content: space-around;

    shari-button {
      width: 100%;
    }
  }
}