@let loading = isLoading();

<form [formGroup]="form">
  <h2 class="form-title">Profile</h2>

  <div class="half-inputs-wrapper">
    <div class="control-field">
      <input
        type="file"
        id="profile_image"
        class="shari-input"
        accept="image/*"
        (change)="onImageChange($event, 'profile')"
      />
      <label for="profile_image" [class.top]="true">Profile Image</label>
    </div>

    <div class="control-field">
      <input
        type="file"
        id="cover_image"
        class="shari-input"
        accept="image/*"
        (change)="onImageChange($event, 'cover')"
      />
      <label for="cover_image" [class.top]="true">Cover Image</label>
    </div>
  </div>

  <div class="half-inputs-wrapper">
    <div class="control-field">
      <input type="text" id="name" formControlName="name" class="shari-input" />
      <label for="name" [class.top]="form.get('name')?.value">Name</label>
    </div>

    <div class="control-field">
      <input type="email" id="email" formControlName="email" class="shari-input" />
      <label for="email" [class.top]="form.get('email')?.value">Email</label>
    </div>
  </div>

  <div class="control-field">
    <textarea type="text" id="bio_html" formControlName="bio_html" class="shari-input"></textarea>
    <label for="bio_html" [class.top]="form.get('bio_html')?.value">
      Bio {{ bioSectionsCount() }}
    </label>
  </div>

  <div class="studio-shots-container">
    <p class="form-title">Studio Shots</p>

    <label for="studio_shots" class="studio-shots-input-label"> Add Studio Shots + </label>

    <div
      class="image-boxes-wrapper"
      cdkDropList
      [cdkDropListData]="studioShotsUrls()"
      (cdkDropListDropped)="onStudioShotDrop($event)"
      cdkDropListOrientation="vertical"
      cdkDropListLockAxis="y"
    >
      @for (img of studioShotsUrls(); track img.url) {
        <div class="image-box" cdkDrag>
          <p>{{ $index + 1 }}</p>

          <img [src]="img.url" alt="" />

          @if ('order' in img) {
            <span class="online">Online ({{ img.order }})</span>
          } @else {
            <span style="color: var(--red)">New ({{ $index + 1 }})</span>
          }

          <button type="button" (click)="onRemoveImageClick(img)">
            <i class="material-icons red">delete</i>
          </button>
        </div>
      }
    </div>

    <input
      type="file"
      id="studio_shots"
      accept="image/*"
      (change)="onStudioShotsChange($event)"
      multiple
      hidden
    />
  </div>

  <p class="form-title">Homepage</p>

  <div class="control-field">
    <textarea type="text" id="hero_html" formControlName="hero_html" class="shari-input"></textarea>
    <label for="hero_html" [class.top]="form.get('hero_html')?.value">Hero Text</label>
  </div>

  <div class="form-footer">
    <p class="progress">{{ progress() }}</p>

    <shari-button type="button" (onClick)="onSaveClick()" [disabled]="loading">
      @if (loading) {
        <mat-spinner [diameter]="15" [strokeWidth]="2" />
      } @else {
        Save
      }
    </shari-button>
  </div>
</form>
