.studio-shots-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-box {
  display: grid;
  grid-template-columns: 1rem 25% auto 4rem;
  padding: 0.25rem;
  gap: 2rem;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  cursor: move;

  img {
    max-height: 3.5rem;
    object-fit: contain;
  }

  span {
    font-weight: 550;
  }

  .online {
    color: var(--green);
  }

  button {
    width: fit-content;
    justify-self: right;
  }
}

.image-boxes-wrapper .image-box:last-child {
  border: none;
}

.studio-shots-input-label {
  text-align: center;
  padding: 0.25rem;
  border-radius: var(--radius);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: var(--transition);
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
  }
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.html-hint {
  margin-left: 1rem;
}

.progress {
  margin-left: 1rem;
  font-weight: 600;
}

@media (max-width: 560px) {
  .half-inputs-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
