.progress-buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.progress {
  margin-left: 1rem;
  align-self: center;
}

@media (max-width: 560px) {
  .progress-buttons-wrapper {
    flex-direction: column-reverse;
  }

  .progress {
    align-self: flex-start;
  }

  .half-inputs-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}