@let pt = painting();
@let user = authService.user;

<a class="painting-preview" [routerLink]="'/painting/' + pt.id">
  <img
    [src]="pt.main_image.large"
    [class.invisible]="isLoading()"
    (load)="isLoading.set(false)"
    [alt]="'Painting:' + pt.title"
    #imgRef
  />

  @if (isLoading()) {
    <div class="skeleton" [style]="{ height: elementHeight() + 'px' }"></div>
  } @else {
    @if (user) {
      <div class="order">{{ pt.order }}</div>
    }

    @if (pt.is_sold) {
      <div class="sold-tag">SOLD</div>
    }

    <div class="painting-info-overlay">
      <h3 class="title">{{ pt.title }}</h3>
      <p>{{ pt.material }}</p>
      <p>{{ pt.width }} x {{ pt.height }} cm</p>
    </div>
  }
</a>
