@let pt = painting();
@let user = authService.user;

<div class="painting-preview" [routerLink]="'/painting/' + pt.id">
  @if (user) {
    <div class="order">{{ pt.order }}</div>
  }

  @if (isLoading()) {
    <div class="skeleton" [style]="{ height: elementHeight() + 'px' }"></div>
  }

  <img
    [src]="pt.main_image.large"
    [class.invisible]="isLoading()"
    (load)="isLoading.set(false)"
    [alt]="'Painting:' + pt.title"
    #imgRef
  />

  <div class="painting-info-overlay">
    <h3 class="title">
      {{ pt.title }}
      @if (pt.is_soled) {
        <i>(soled)</i>
      }
    </h3>
    <p>{{ pt.material }}</p>
    <p>{{ pt.width }} x {{ pt.height }} cm</p>
  </div>
</div>
