:host {
  display: block;
  max-width: 600px;
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.title {
  font-weight: 650;
  color: var(--text-color);
}

.message {
  padding: 1.5rem 0;
}

.red-button {
  margin-bottom: .5rem;
}

.buttons-box {
  display: flex;
  gap: .5rem;

  shari-button {
    width: 100%;
  }
}