.about-component-container {
  display: grid;
  grid-template-columns: 25% auto;
  gap: 3rem;
  margin-bottom: 10rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  div:first-child {
    align-items: center;
  }

  img {
    max-width: 100%;
    border-radius: var(--radius);
  }
}

.profile-image {
  margin: 3rem 0 2rem;
  max-height: 18rem;
  object-fit: contain;
}

.cover-image {
  max-height: 25rem;
  object-fit: cover;
}

.loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

@media (max-width: 900px) {
  .about-component-container {
    grid-template-columns: 1fr;
  }
}