button {
  width: 100%;
  border: none;
  background-color: transparent;
  text-wrap: nowrap;
  transition: var(--transition);
  color: var(--text-color);
  cursor: pointer;
}

.buttons-box {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: flex-end;
}

.material-icons {
  opacity: 0.6;
  transition: var(--transition);

  &:hover {
    opacity: 1;
  }

  &.red {
    color: var(--red);
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
}

.overlay {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: #00000039;
  backdrop-filter: blur(5px);
  z-index: 100;
}

.overlay-content-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--background-color);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: auto;
}

.snackbar {
  text-align: center;
  border-radius: var(--radius);

  .mdc-snackbar__surface {
    border-radius: var(--radius) !important;
    box-shadow: var(--shadow) !important;
    background-color: var(--primary-color) !important;
  }

  &.green .mdc-snackbar__surface {
    background-color: var(--green) !important;
  }

  &.red .mdc-snackbar__surface {
    background-color: var(--red) !important;
  }
}

.mdc-tooltip__surface {
  border-radius: 5px !important;
}

ul {
  list-style: none;
}

.mat-mdc-paginator-outer-container {
  width: fit-content;
  margin: 4rem auto;
}

.mat-mdc-paginator-container {
  justify-content: center !important;
  row-gap: 1rem;
}

.cdk-drag-preview {
  background-color: var(--background-color);
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.images-view.cdk-drop-list-dragging .image-box:not(.cdk-drag-placeholder) {
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width: 550px) {
  .mat-mdc-paginator-container {
    flex-direction: column-reverse !important;
  }
}

.skeleton {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  opacity: 0.6;
  animation: skeleton 0.75s linear infinite alternate;
}

@keyframes skeleton {
  from {
    background-color: #7a7a7a;
  }

  to {
    background-color: #c5c5c5;
  }
}

.loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

img.invisible {
  display: none;
}
