button {
  width: 100%;
  border: none;
  background-color: transparent;
  text-wrap: nowrap;
  transition: var(--transition);
  color: var(--text-color);
  cursor: pointer;
}

.overlay {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: #00000039;
  backdrop-filter: blur(5px);
  z-index: 100;
}

.overlay-content-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--background-color);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: auto;
}

.snackbar {
  text-align: center;
  border-radius: var(--radius);

  .mdc-snackbar__surface {
    border-radius: var(--radius) !important;
    box-shadow: var(--shadow) !important;
    background-color: var(--primary-color) !important;
  }

  &.green .mdc-snackbar__surface {
    background-color: var(--green) !important;
  }

  &.red .mdc-snackbar__surface {
    background-color: var(--red) !important;
  }
}

.mdc-tooltip__surface {
  border-radius: 5px !important;
}

ul {
  list-style: none;
}