.hero-text {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem 1rem 6rem;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  margin: 0 auto 4rem;
  column-gap: 1.5rem;
}

@media (max-width: 850px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .hero-text {
    padding: 2rem 1rem;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
  }
}
