.form-title {
  padding: .5rem .25rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.images-view {
  display: flex;
  gap: .5rem;
  min-height: 8rem;
  border: 2px dashed black;
}

.buttons-box {
  display: flex;
  padding: .5rem 0;
  gap: 1rem;
  justify-content: flex-end;
}