@let pt = painting();
@let mainImg = mainImage();
@let loading = isLoading();
@let prg = formService.progress();

<div class="painting-form-component-container">

  <form [formGroup]="form" class="painting-form">
    <p class="title">
      {{pt ? 'Edit ' + pt!.title : 'New Painting'}}
    </p>

    <div class="control-field">
      <input type="text" id="title" formControlName="title" class="shari-input" required>
      <label for="title" [class.top]="form.get('title')?.value">Title*</label>
    </div>

    <div class="half-inputs-wrapper">
      <div class="control-field">
        <input type="number" id="width" formControlName="width" class="shari-input" min="1" required>
        <label for="width" [class.top]="form.get('width')?.value">Width* (cm)</label>
      </div>

      <div class="control-field">
        <input type="number" id="height" formControlName="height" class="shari-input" min="1" required>
        <label for="height" [class.top]="form.get('height')?.value">Height* (cm)</label>
      </div>
    </div>

    <div class="half-inputs-wrapper">
      <div class="control-field">
        <input type="text" id="material" formControlName="material" class="shari-input">
        <label for="material" [class.top]="form.get('material')?.value">Material</label>
      </div>

      <div class="control-field">
        <input type="number" id="year" formControlName="year" class="shari-input" min="2000" [max]="currentYear">
        <label for="year" [class.top]="form.get('year')?.value">Year</label>
      </div>
    </div>
  </form>

  <div class="main-image-container">
    <p class="title">Main Image</p>

    <input type="file" id="main_image" name="main_image" class="shari-input" accept="image/*"
      (change)="onMainImageChange($event)" #mainImageInput>

    @if (mainImg) {
    <shari-button type="button" variant="outlined" color="red" (onClick)="onRemoveMainImageClick(mainImageInput)">
      Remove
    </shari-button>
    <img class="main-image-preview" [src]="mainImg?.thumbnail" alt="">
    }
  </div>

  <div class="close-ups-container">
    <p class="title">Close-Up Images</p>

    <label for="closeup" class="add-close-up-label">Add Clos-Ups +</label>
    <input type="file" id="closeup" name="closeup" accept="image/*" (change)="onCloseUpImageChange($event)" multiple
      hidden>

    <div class="close-ups-grid" cdkDropList [cdkDropListData]="closeUps()" (cdkDropListDropped)="onCloseUpDrop($event)"
      cdkDropListOrientation="horizontal" cdkDropListLockAxis="x">
      @for (closeup of closeUps(); track $index){
      <div class="clos-up-box" cdkDrag>
        <button (click)="onRemoveCloseUpClick(closeup, $index)">Remove</button>
        <img [src]="closeup.thumbnail" alt="">
      </div>
      }
    </div>
  </div>

  <div class="buttons-box">
    @if (pt) {
    <shari-button type="button" variant="outlined" color="red" (onClick)="onDeletePaintingClick()" [disabled]="loading">
      Delete Painting
    </shari-button>
    }

    <shari-button type="button" variant="outlined" (onClick)="closeForm()" [disabled]="loading">
      Cancel
    </shari-button>
    <shari-button type="button" (onClick)="onSaveClick()" [disabled]="form.invalid || loading">
      Save
    </shari-button>
  </div>
</div>

@if (prg) {
<div class="overlay">
  <div class="overlay-content-box">
    <div class="progress">{{prg}}</div>
    <mat-spinner [diameter]="15" [strokeWidth]="2" />
  </div>
</div>
}