.form-title {
  padding: .5rem .25rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.half-inputs-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.buttons-box {
  display: flex;
  padding: .5rem 0;
  gap: 1rem;
  justify-content: flex-end;
}

.form-title {
  padding: .5rem .25rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.images-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  min-height: 8rem;
  padding: .5rem;
  gap: .5rem;
  border: 2px dashed black;
}

.image-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: move;

  img {
    width: 100%;
    max-height: 7rem;
    object-fit: contain;
  }

  button {
    padding: .25rem;
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: var(--radius);
  }
}

.add-closeup-label {
  text-align: center;
  padding: .5rem .8rem;
  border-radius: var(--radius);
  background-color: var(--secondary-color);
  color: var(--background-color);
  cursor: pointer;
  transition: var(--transition);
}

.add-closeup-label:hover {
  background-color: var(--primary-color);
}

.buttons-progress-bar {
  display: flex;
  padding: .5rem 0;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  .progress {
    font-size: .8rem;
    padding-left: .5rem;
  }
}

.buttons-box {
  display: flex;
  gap: 1rem;
}

.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.images-view.cdk-drop-list-dragging .image-box:not(.cdk-drag-placeholder) {
  transition: transform .25s cubic-bezier(0, 0, 0.2, 1);
}