.painting-form-component-container,
.painting-form,
.main-image-container,
.close-ups-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.painting-form-component-container {
  max-width: 900px;
  margin: 2rem auto;
  gap: 1.5rem;
}

.title {
  padding: .5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.half-inputs-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.main-image-container shari-button {
  margin: 0 auto;
  width: 8rem;
}

.main-image-preview {
  max-width: 100%;
  max-height: 10rem;
  object-fit: contain;
}

.close-ups-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  min-height: 9rem;
  padding: .225rem;
  gap: .25rem;
  border: 2px dashed black;
}

.clos-up-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: move;

  img {
    width: 100%;
    max-height: 8rem;
    object-fit: contain;
  }

  button {
    padding: .1rem;
    font-size: .8rem;
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: var(--radius);
  }
}

.add-close-up-label {
  text-align: center;
  padding: .5rem .8rem;
  border-radius: var(--radius);
  background-color: var(--secondary-color);
  color: var(--background-color);
  cursor: pointer;
  transition: var(--transition);
}

.add-close-up-label:hover {
  background-color: var(--primary-color);
}

.overlay-content-box {
  width: 100%;
  max-width: 400px;
  align-items: center;
}

.progress {
  font-size: 1.2rem;
}

.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.images-view.cdk-drop-list-dragging .image-box:not(.cdk-drag-placeholder) {
  transition: transform .25s cubic-bezier(0, 0, 0.2, 1);
}