@use '@angular/material' as mat;

:root {
  --primary-color: #5d1bd8;
  --secondary-color: #5d1bd860;
  --tertiary-color: #e9e3f0;
  --background-color: #ffffff;
  --gray: #6a7077;
  --green: #1ea77e;
  --red: #d43434;
  --text-color: #1c1b1d;
  --border-color: #d3dae2;
  --shadow: #16151f1e 0px 1px 0px, #16151f1e 0px 8px 24px, #16151f1e 0px 16px 48px;

  --radius: 5px;
  --transition: .15s;
  --app-width: 1300px;

  @include mat.snack-bar-overrides((supporting-text-color: #fff,
      supporting-text-size: .9rem,
      supporting-text-weight: 500,
    ));
  @include mat.tooltip-overrides((container-color: gray,
      supporting-text-color: #fff,
      supporting-text-size: .75rem,
      supporting-text-weight: 600,
    ));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray);
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: var(--radius);
}

html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color-scheme: light;
  background-color: var(--background-color);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

shari-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
main,
footer {
  width: 100%;
  max-width: var(--app-width);
  margin: 0 auto;
  padding: 1rem;
}

main {
  flex: 1;
}