.nav-bar {
  display: flex;
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: .5rem;
}

.nav-link {
  padding: .3rem .5rem;
  color: var(--text-color);
  text-decoration: none;
  border-radius: var(--radius) var(--radius) 0 0;
  transition: var(--transition);
}

.nav-link:hover {
  background-color: var(--secondary-color);
}

.nav-link.selected {
  background-color: var(--primary-color);
  color: var(--background-color);
}