.nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 2px solid var(--primary-color);
  margin: 2rem 0 3rem;

  .material-icons {
    pointer-events: none;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.35rem;
  gap: 0.25rem;
  color: var(--text-color);
  text-decoration: none;
  border-radius: var(--radius) var(--radius) 0 0;
  transition: var(--transition);
  font-weight: 500;
}

.nav-link:hover {
  background-color: var(--secondary-color);
}

.nav-link.selected {
  background-color: var(--primary-color);
  color: var(--background-color);
}
