.nav-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 1rem;
}

.nav-links-list {
  display: flex;
  gap: .1rem;
}

.nav-link {
  padding: .5rem .75rem;
  color: var(--text-color);
  text-decoration: none;
  border-radius: var(--radius) var(--radius) 0 0;
  transition: var(--transition);
}

.nav-link:hover {
  background-color: var(--secondary-color);
}

.nav-link.selected {
  background-color: var(--primary-color);
  color: var(--background-color);
}